# fly.toml app configuration file generated for doubledoubleclickclick on 2026-02-19T11:40:13+13:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'doubledoubleclickclick'
primary_region = 'syd'

[env]
  HOSTNAME = '0.0.0.0'
  NODE_ENV = 'production'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
